.footer-bg {
  background: rgba(255, 255, 255, 0.1); /* branco com 10% de opacidade */
  backdrop-filter: blur(10px); /* efeito de vidro fosco */
  -webkit-backdrop-filter: blur(10px); /* compatibilidade com Safari */
  transition: background 0.3s ease, transform 0.3s ease;
}

.footer {
  display: flex;
  flex-direction: column; /* organiza em coluna */
  padding-top: 40px;
  padding-bottom: 20px;
}

/* parte de cima: logo + contato */
.footer-top {
  display: flex;
  justify-content: space-between; /* joga um para cada canto */
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.footer-top > img {
  height: 200px;
}

.footer-copy {
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
}

.footer h3 {
  margin-bottom: 32px;
  color: #ffffff;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato {
  color: #ffffff;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #ffa500;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-copy {
    margin-top: 0px;
  }
}
