.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  background-color: transparent;
  backdrop-filter: none;
}

.header-bg.scrolled {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

.header-menu a {
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.header-menu a.ativo {
  color: #ff8c00;
  border-bottom: 2px solid #ff8c00;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header img {
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-menu {
  display: flex;
  gap: 50px;
}

.header-menu a {
  color: #ffffff;
  font-family: "Poppins";
  display: inline-block;
  padding: 5px 0px;
  position: relative;
  margin-top: 20px;
}

.header-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #ffffff;
  transition: width 0.3s ease;
}

.header-menu a:hover::after {
  width: 100%;
}

/* ----- RESPONSIVO ----- */
@media (max-width: 700px) {
  .header-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 0;
    gap: 10px;
  }

  .header-menu li:nth-child(4) {
    grid-column: 2 / 3;
    justify-self: center;
  }

  .header-menu a {
    background-color: #222222;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 14px;
  }

  .header-menu a:hover::after {
    display: none;
  }
}
